<nav class="navbar navbar-expand-lg navbar-dark justify-content-between start">
    <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
        <li class="nav-item">
            <a href="/api/users/logout" class="nav-link" role="button">
                <span class="nav-link-inner-text start_logo"> <span class="nav-link-inner-text logo"> </span>Start</span>
            </a>
        </li>
        <li class="nav-item">

        </li>
    </ul>
    <div class="time text-center" id="clock">
        1:10pm
    </div>
</nav>