<section class = "col-12 col-lg-6 mb-4 mb-lg-0 myModal hidden">
    <div class="card card-tertiary">
        <header class="card-header">
            <span class="icon icon-xs w95-folder"></span>
            <span class="ml-4">{{title}}</span>
            <button class="toolbar-btn close" id = "test2" style = "float: right;"></button>
        </header>
        <main class="myCardBody" style = "width: 100%;">
            {{html}}
        </main>
    </div>
</section>

<script src = "/js/program.js"></script>