<link rel="stylesheet" href="https://trevor-reznik.github.io/guides/windows95-modal/windows95-modal.css"/>
<link rel = "stylesheet" href = "/public/css/"

<section class = "col-12 col-lg-6 mb-4 mb-lg-0 myModal hidden">
    <div class="card card-tertiary">
        <header class="card-header">
            <span class="icon icon-xs w95-folder"></span>
            <span class="ml-4">Notepad</span>
            <button class="toolbar-btn close" id = "test2" style = "float: right;"></button>
        </header>
        <main class="myCardBody" style = "width: 100%;">
            {{html}}
        </main>
    </div>
</section>

