<link rel="stylesheet" type="text/css" href="/css/bsod.css">

<div id="bsod" >
  <h4 class=" window">Windows</h4>
  <div></div>
  <h5>A fatal exception OE has occurred at 0028:C0025606 in VXD + </h5>
  <h5>0000798E. The current application will be terminated.</h5>
  <ol>
    <li><h5>Press any key to terminate the current application.</h5></li>
    <li><h5>Press CTRL+ALT+DEL again to restart your computer. You will lose any unsaved information in all applications.</h5></li>
  </ol>
  <div></div>
  <h5>Press any key to continue <span id="blink">_</span></h5>
</div> 

<script src="/js/bluescreen.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>