{{> nav}}

    <div class="computer desktop-icon">
        <div class="computer__icon desktop-icon__icon"></div>
        <p class="computer__text desktop-icon__text">
            My Computer
        </p>
    </div>

    <div class="recycle desktop-icon" >
        <div class="recycle__icon desktop-icon__icon"></div>
        <p class="recycle__text desktop-icon__text">
            Recycle Bin
        </p>
    </div>

    <div class="clippy desktop-icon">
        <div class="clippy__icon desktop-icon__icon"></div>
        <a class="clippy__text desktop-icon__text" href="../bsod">
            Clippy
        </a>
    </div>

    <div class="snake desktop-icon">
        <div class="snake__icon desktop-icon__icon"></div>
        <a class="snake__text desktop-icon__text" href="/snake">
            Snake
        </a>
    </div>

    <div class="minedsweeper desktop-icon">
        <div class="minedsweeper__icon desktop-icon__icon"></div>
        <a class="minedsweeper__text desktop-icon__text" href="/minesweeper">
            MineSweeper
        </a>
    </div>

    <div class="pong desktop-icon">
        <div class="pong__icon desktop-icon__icon"></div>
        <a class="pong__text desktop-icon__text" href="/pong">
            Pong
        </a>
    </div>

    <div class="trail desktop-icon">
        <div class="trail__icon desktop-icon__icon"></div>
        <a class="trail__text desktop-icon__text" href="/trail">
            Oregon Trail
        </a>
    </div>

    <div class="user desktop-icon">
        <div class="user__icon desktop-icon__icon"></div>
        <a class="user__text desktop-icon__text" href="/user">
            User
        </a>
    </div>

    <div class="note desktop-icon">
        <div class="note__icon desktop-icon__icon"></div>
        <a class="note__text desktop-icon__text" href="/note">
            NotePad
        </a>
    </div>
    


<script src="/js/desktop.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>