<section class="col-12 col-lg-12 mb-12 mb-lg-12 myModal mx-auto myLogin">
  <div class="card card-tertiary login">
    <div class="card-header">
      <span class="icon icon-xs w95-folder"></span>
      <span class="ml-4">Welcome to Windows</span>
      <button class="toolbar-btn close" id="test2" style="float: right;"></button>
    </div>
    <div class="myCardBody" style="width: 100%;">
      <form class = "startForm">
        <div class="form-group d-flex align-items-center justify-content-between px-3">
          <label for="username-form" class="mr-3">Username:</label>
          <input id="username-form" type="text" class="form-control w-75" />
        </div>

        <div class="form-group d-flex align-items-center justify-content-between px-3">
          <label for="password-form" class="mr-3">Password:</label>
          <input id="password-form" type="password" class="form-control w-75" />
        </div>

        <button class="btn mr-2 mb-2 btn-secondary" id = "login" style="float: right;" type="button">
          <span class="btn-text">Login</span>
        </button>

        <button class="btn mr-2 mb-2 btn-secondary" id = "signup" style="float: right;" type="button">
          <span class="btn-text">Signup</span>
        </button>
      </form>
    </div>
  </div>
</section>

<script src="./js/login.js"></script>