<link rel="stylesheet" type="text/css" href="/css/pong/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>

{{> nav}}


<section class = "col-12 col-lg-6 mb-4 mb-lg-0 myModal mx-auto">
    <div class="card card-tertiary">
        <header class="card-header">
            <span class="icon icon-xs w95-folder"></span>
            <span class="ml-4">Pong</span>
            <a href = "/"><button class="toolbar-btn close" style = "float: right;"></button></a>
        </header>
        <main class="myCardBody">
        </main>
    </div>
</section>

    <script src="/js/pong/sketch.js"></script>
    <script src="/js/pong/pongpaddle.js"></script>
    <script src="/js/pong/ball.js"></script>
    <script src="/js/pong/score.js"></script>
