<link rel = "stylesheet" href = "/css/snake.css">
<link rel="stylesheet" type="text/css" href="/css/desktop.css">
<link rel="stylesheet" href="https://trevor-reznik.github.io/guides/windows95-modal/windows95-modal.css"/>

<nav class="navbar navbar-expand-lg navbar-dark justify-content-between start">
    <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
        <li class="nav-item">
            <a href="../index.html" class="nav-link" role="button">
                <span class="nav-link-inner-text start_logo"> <span class="nav-link-inner-text logo"> </span>Start</span>
            </a>
        </li>
        <li class="nav-item">

        </li>
    </ul>
    <div class="time text-center">
        1:47 PM
    </div>
</nav>

<section class = "col-12 col-lg-6 mb-4 mb-lg-0 myModal mx-auto">
    <div class="card card-tertiary">
        <header class="card-header">
            <span class="icon icon-xs w95-folder"></span>
            <span class="ml-4">Snake</span>
            <a href = "/"><button class="toolbar-btn close" style = "float: right;"></button></a>
        </header>
        <main class="myCardBody" >
            <div id="score">Score:</div>
            <canvas id="snakepanel" width="400" height="400"></canvas>
        </main>
        <button id = "test2">Start Here!</button>
    </div>
</section>

<script src = "/js/snake.js"></script>