<link rel = "stylesheet" href = "/css/snake.css">

{{> nav}}

<section class = "col-12 col-lg-6 mb-4 mb-lg-0 myModal mx-auto">
    <div class="card card-tertiary">
        <header class="card-header">
            <span class="icon icon-xs w95-folder"></span>
            <span class="ml-4">Snake</span>
            <a href = "/"><button class="toolbar-btn close" style = "float: right;"></button></a>
        </header>
        <main class="myCardBody" >
            <div id="score">Score:</div>
            <canvas id="snakepanel" width="400" height="400"></canvas>
        </main>
        <button id = "test2">Start Here!</button>
    </div>
</section>

<script src = "/js/snake.js"></script>